
<div class="verification">
    <div class="verification-body">
        <bt-verification [typeBox]="'text'" [isButton]="false" [data]="data[0]"></bt-verification>
        <bt-verification [typeBox]="'text'" [isButton]="false" [data]="data[1]"></bt-verification>
        <bt-verification [typeBox]="'text'" [isButton]="false" [data]="data[2]"></bt-verification>
        <bt-verification [typeBox]="'text'" [isButton]="false" [data]="data[3]"></bt-verification>
        <bt-verification [typeBox]="'text'" [isButton]="false" [data]="data[4]"></bt-verification>
        <bt-verification [typeBox]="'text'" [isButton]="false" [data]="data[5]"></bt-verification>
    </div> 
</div>
