<form class="general">
    <div class="general__left">
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div> 
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>      
    </div>
    
    
    <div class="general__right">
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>FC Barcelona vs Real Madrid CF
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>      
    </div> 
</form>
<button class="button_submit" type="submit">ENVIAR VERIFICACIONES</button>