<form class="general">
    <div class="general__left">
        <div class="bt-body-community">
            <label>FC Barcelona vs Valencia
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>Osasuna vs Las Palmas
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>Bolonia vs Nápoles
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div> 
        <div class="bt-body-community">
            <label>Portugal Sub-20 vs Corea del sur Sub-20
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="X">X
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>Gipuzkoa vs Real Madrid
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>      
    </div>
    
    
    <div class="general__right">
        <div class="bt-body-community">
            <label>Toronto Raptors vs Milwaukee Bucks
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>Besiktas vs Tofas
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>Y. Putintseva vs T. Zidansek
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>Melbourne Ice vs Newcastle
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>
        <div class="bt-body-community">
            <label>San Diego Gulls vs Chicago Wolves
                <form class="result" action="">
                    <input type="radio" name="result" value="1">1
                    <input type="radio" name="result" value="2">2
                </form>
            </label>
        </div>      
    </div> 
</form>
<button class="button_submit" type="submit">ENVIAR VERIFICACIONES</button>