<div class="login-container">
      <div class="login-icon"><img class="login-image" src=""></div>
      <div class="login-input">
        <input class="text" type="text" placeholder="Username">
        <input  class="text" type="password" placeholder="Password">
        <a class="login-href" href="" >¿Has olvidado contraseña?</a></div>
      <div class="login-button">
        <div class="login-button-entrar"><button class="button-entrar" type="login" >Entrar</button></div>
        <div class="login-button-registrar"><button class="button-registrar" type="login" >Registrarse</button></div>
      </div>
  </div>

