.bt-box-chart {
    background-color: #D8D8D8;
    margin: 20px;
    width: 480px;
    height: 100px;
    text-align: center;
    display: inline-block;
    font-family: "Verdana, Arial";
    margin-top: 3px;

    &__button {
        background-color: rgb(61, 56, 56);
        width: 480px;
        color: white;
        height: 40px;
    }
}

