.bt-box-graphic {
    background-color: #D8D8D8;
    margin: 20px;
    width: 780px;
    height: 350px;
    text-align: center;
    display: inline-block;
    font-family: "Verdana, Arial";
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}