.bt-box-market {
    background-color: #D8D8D8;
    margin: 20px;
    width: 250px;
    height: 180px;
    text-align: center;
    display: inline-block;
    font-family: "Verdana, Arial";
    margin-top: 10px;
    line-height: 145px;
    cursor: pointer;
}
