<div class="home">
    <div class="home-body">
        <div class="home-body__left">
            <bt-box-home [typeBox]="'text'" [isButton]="false" [data]="data[4]"></bt-box-home>
            <bt-box-home [typeBox]="'text'" [isButton]="false" [data]="data[2]"></bt-box-home>
        </div>
        <div class="home-body__right">
            <bt-box-home [typeBox]="'text'" [isButton]="true" [data]="data[0]"></bt-box-home>
            <bt-box-home [typeBox]="'text'" [isButton]="true" [data]="data[1]"></bt-box-home>
            <bt-box-home [typeBox]="'text'" [isButton]="true" [data]="data[3]"></bt-box-home>
        </div>
    </div>
</div>