<div class="menu__logo">
  <img class="menu__logo__size" src="assets/icon/logo.png" (click)="toggleCollapse()">
</div>
<div *ngIf="show" id="menu">
  <ul class="menu">
    <li class="has-sub" *ngFor="let sport of sports">
      <a>{{sport.name | uppercase}}</a>
      <img src="{{sport.icon}}">
      <ul *ngIf="sport.leagues.length != 0">
        <li class="has-sub" *ngFor="let league of sport.leagues">
          <a>{{league.name}}</a>
          <ul *ngIf="league.matchs.length != 0">
            <li *ngFor="let match of league.matchs">
              <a>{{match.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>